:root {
  --vp-c-brand-1: hsl(22 100% 56%);
  --vp-c-brand-2: var(--vp-c-brand);
  --vp-c-brand-3: hsl(22 100% 45%);

  --vp-home-hero-image-background-image: linear-gradient(
    0deg,
    var(--vp-c-brand-3) 30%,
    var(--vp-c-brand-1)
  );
  --vp-home-hero-image-filter: blur(50px) opacity(0.5);
}

.VPHero .image-src {
  max-width: 140px;
  border-radius: 12px;
}

.Home-content {
  margin-block-start: 48px;
}

.Home-content .custom-block-title {
  font-size: 18px;
}

.Home-content .custom-block h2 {
  margin-block: 0.7em 0.3em;
}

.Home-content .custom-block .header-anchor {
  display: none;
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(80px) opacity(0.6);
  }

  .VPHero .image-src {
    max-width: 190px;
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(100px) opacity(0.5);
  }

  .VPHero .image-src {
    max-width: 220px;
  }
}
